#complimentContainer.complimentContainer
    #textContainer.textContainer
        p.complimentText.fade(ng-if="showcompliment") {{thecompliment}}
    .right
        button.button(ng-click="loadNewcompliment($event)") Load compliment