#insultContainer.insultContainer
    #textContainer.textContainer
        p.insultText.fade(ng-if="showInsult") {{theInsult}}
    .right
        button.button(ng-click="loadNewInsult($event)") Load Insult