doctype html
html(ng-app="insultme")
  head
    != newrelic.getBrowserTimingHeader()
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(ng-controller="mainController")
    block content
  script(src='/js/bundle.js')
